sphinx
sphinx-rtd-theme
furo
sphinxcontrib-napoleon
sphinx-autoapi
sphinx-design
sphinxcontrib-bibtex


peft
grpcio
pympler
loguru
trl
transformers==4.38.2
deepspeed==0.11.1
loguru
omegaconf
jieba
rouge_chinese
gpustat
deepspeed
xformers
sentencepiece
peft==0.5.0
bert-score
rouge
pandas
grpcio
grpcio-tools
tabulate
bitsandbytes
datasets
pympler
watchdog
scikit-learn